.footer_nav_box{
    border-top: 1px solid #ebebeb;
    width:100%;
    min-width: 960px;
    padding: 17px 0 50px;
}
.footer_nav_box a,.footer_nav_box{
    color: #8c8c8c;
    font-size: 12px;
    text-decoration: none;
}
.footer_nav_box a:hover{
    color: #f48570;
    text-decoration: underline;
}
.footer_nav_box .footer_nav{
    text-align: center;
    line-height: 20px;
    padding-bottom: 17px;
    padding-top: 25px;
}
.footer_nav_box .footer_nav span.sep{
    margin: 0 17px 0 19px;
}
.footer_nav_box .footer_copyright{
    line-height: 20px;
    text-align: center;
    width: 960px;
    margin: 0 auto;
}
.footer_nav_box .footer_copyright span.sep{
    margin:0 17px 0 19px;
}
.footer_nav_box .footer_icon{
    padding: 10px 0 0 340px;
    width: 640px;
    margin: 0 auto;
    height: 77px;
}
.footer_nav_box .validator,.footer_nav_box .knet{
    float:left;
    display:inline;padding:15px 5px 15px;
    width:135px;height:47px;
}

.footer_copyright {
    padding: 10px 0 0 0;
    margin: 0 auto;
    float: none;
    width: auto;
    text-align: center;
    color: #8c8c8c;}
.footer_copyright span, .public_footer
.footer_copyright a.footer_img {
    display: inline-block;
    float: none;
}
.footer_copyright a {
    padding: 0 4px;
    color: #8c8c8c;
    font-size: 12px;
    text-decoration: none;
}
.footer_copyright a:hover{
    color: #f48570;
    text-decoration: underline;
}
.footer_nav_box .footer_nav .footer_hot_search{
    display:inline-block;
    *display:inline;
    width:50px;
    position:relative}
.footer_nav_box .footer_nav .pos_a_box{
    position:absolute;
    left:-251px;
    top:22px;
    background-color:#f48570;
    width:300px;
    border-radius:8px;
    text-align:center;
    height:14px;
    line-height:14px
}
.footer_nav_box .footer_nav .pos_a_box a,
.footer_nav_box .footer_nav .pos_a_box a:hover,
.footer_nav_box .footer_nav .pos_a_box span{
    padding:0 2px;
    color:#fff;
    text-decoration:none}
.footer_nav_box .footer_nav .pos_a_box i{
    display:block;
    width:0;
    height:0;
    line-height:0;
    font-size:0;
    border-width:0 4px 4px;
    border-style:solid;
    border-color:#fff #fff #f48570 #fff;
    position:absolute;
    right:20px;
    top:-4px
}
