.sub_page_name {
    font-size: 18px;
    color: #666;
    margin: 50px 0 0 20px;
}
.fl {
    float: left;
}
.total_count {
    width: 1200px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.total_count em {
    font-size: 16px;
    color: #ff4200;
    margin: 0 5px;
}
.cart_list_th {
    width: 1198px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    margin: 0 auto;
}
.clearfix {
    zoom: 1;
}
.cart_list_th li {
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
}
.cart_list_th .col01 {
    width: 26%;
}
.cart_list_th .col02 {
    width: 16%;
}
.cart_list_th .col03 {
    width: 13%;
}
.cart_list_th .col04 {
    width: 13%;
}
.cart_list_th .col05 {
    width: 12%;
}
.cart_list_th .col06 {
    width: 19%;
}
.cart_list_td {
    width: 1198px;
    border: 1px solid #ddd;
    background-color: #edfff9;
    margin: 0 auto;
    margin-top: -1px;
}
.cart_list_td li {
    height: 120px;
    line-height: 120px;
    float: left;
    text-align: center;
}
.cart_list_td .col01 {
    width: 4%;
}
.cart_list_td .col02 {
    width: 12%;
}
.cart_list_td .col02 img {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    display: block;
    margin: 10px auto 0;
}
.cart_list_td .col03 {
    height: 48px;
    text-align: left;
    line-height: 24px;
    margin-top: 18px;
}
.cart_list_td .col03 {
    width: 10%;
}
.cart_list_td .col04 {
    width: 16%;
}
.cart_list_td .col05 {
    width: 13%;
}
.cart_list_td .col06 {
    width: 14%;
}
.cart_list_td .col06 .num_add {
    width: 98px;
    height: 28px;
    border: 1px solid #ddd;
    margin: 40px auto 0;
    position: relative;
}
.cart_list_td .col06 .num_add .add {
   position: absolute;
    left: 0px;
}
.cart_list_td .col06 .num_add a {
    width: 29px;
    height: 28px;
    line-height: 28px;
    background-color: #f3f3f3;
    font-size: 14px;
    color: #666;
}
.cart_list_td .col06 .num_add .minus{
  position: absolute;
    right: 0px;
    top: 0px;
}
.cart_list_td .col06 .num_add input {
    position: absolute;
    left: 29px;
    width: 38px;
    height: 28px;
    text-align: center;
    line-height: 30px;
    border: 0px;
    display: block;
    float: left;
    outline: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.cart_list_td .col07 {
    width: 15%;
}
.cart_list_td .col08 {
    width: 12%;
}
.cart_list_td .col08 a {
    color: #666;
    font-size: 16px;
}
.settlements {
    width: 1198px;
    height: 78px;
    border: 1px solid #ddd;
    background-color: #fff4e8;
    margin: -1px auto 0;
}

.settlements li{
    float: left;
}
.settlements .col01 {
    width: 4%;
    text-align: center;
}

.settlements .col02 {
    width: 12%;
}
.settlements .col03 {
    width: 69%;
    height: 48px;
    line-height: 28px;
    text-align: right;
    margin-top: 10px;
}
.settlements .col03 span {
    color: #ff0000;
}
.settlements .col03 em {
    color: #ff3d3d;
    font-size: 22px;
    font-weight: bold;
}
.settlements .col03 b {
    color: #ff0000;
    font-size: 14px;
    padding: 0 5px;
}
.settlements .col04 {
    width: 14%;
    text-align: center;
    float: right;
}
.settlements .col04 a {
    display: block;
    height: 78px;
    background-color: #ff3d3d;
    text-align: center;
    line-height: 78px;
    color: #fff;
    font-size: 24px;
}
#cartlist{
    display: none;
}
