<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta charset="utf-8"/>
<title>后台登录</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}" />
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% static 'admin/js/verificationNumbers.js' %}"></script>
<script src="{% static 'admin/js/Particleground.js' %}"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });

  //测试提交，对接程序删除即可
  $(".submit_btn").click(function(){
	  location.href="index.html";
	  });
});
</script>
</head>
<body>
<dl class="admin_login">
 <dt>
  <strong>图书商城后台管理系统</strong>
  <em>BookShop Management System</em>
 </dt>

 <form action="" method="post">
  {% csrf_token %}
 <dd class="user_icon">
  <input type="text" name="username" placeholder="账号" class="login_txtbx"/>
 </dd>
 <dd class="pwd_icon">
  <input type="password" name="password" placeholder="密码" class="login_txtbx"/>
 </dd>

 <dd>
  <input type="submit" value="立即登录" class="submit_btn"/>
 </dd>
  </form>
 <dd>
  <p>© 2018-2019 YeQin 版权所有</p>
 </dd>
</dl>
<script>
   var tip = "{{ tip }}";
   if (tip!="") {
       alert(tip);
       window.location.href = "http://127.0.0.1:8000/admin_user/login/";
   }
</script>
</body>
</html>
