<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" type="text/css" href="/static/css/base.css">
     <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base_1.css">
     <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/personalinfo.css">
     <script type="text/javascript" src="../../static/js/jquery-3.3.1.js"></script>
     <script type="text/javascript" src="../../static/js/ie6.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
</head>
{#<body>#}

{#</body>#}
<body>
    <div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到图书商城</div>
			<div class="fr">
				<div class="login_btn fl">
					{% if userinfo.islogin %}
					欢迎您：<em>{{ userinfo.username }}</em>
					<span>|</span>
					<a href="{% url 'bUser :logout' %}">退出</a>
					{% else %}
					<a href="{% url 'bUser :login' %}">登录</a>
					<span>|</span>
					<a href="{% url 'bUser :register' %}">注册</a>
					{% endif %}
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'bShop:showcart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'bShop:index' %}">首页</a>
				</div>
			</div>
		</div>
     </div>
    <div class="mydang">
        <div class="head">
            <a class="logo" href="#">
                <img src="../../static/images/logo.png" alt="">
            </a>
        </div>
        <div class="my_left">
            <div class="my_menu">
                <h3 class="my_menu_title">
                    <a href="#" id="J_myhomeBtn">我的当当</a>
                </h3>
                <dl>
                    <dt id="class600" name="orders">我的交易</dt>
                    <dd>
                        <a href="#">我的订单</a>
                    </dd>
                    <dt id="class640" name="personalinformation">个人中心</dt>
                    <dd>
                        <a href="{% url "bUser :personalinfo" %}" id="a_personal">个人信息</a>
                    </dd>
                    <dd>
                        <a href="{% url "bUser :eidtpwd" %}" id="a_eidpwd">修改密码</a>
                    </dd>
                    <dd>
                        <a href="{% url "bUser :adress" %}" id="a_adress">收货地址</a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="my_main">
            <div class="my_title">
                <span class="title">个人信息</span>
            </div>
            <div class="address_list">
                <dl>
                    <dt>当前信息：</dt>
                    <dd>用户名：&nbsp;&nbsp; {{ username }}</dd>
                    <dd>邮&nbsp;&nbsp;箱：&nbsp;&nbsp; {{ email }}</dd>
                    <dd>手机号：&nbsp;&nbsp; {{  thisuser.phone }}</dd>
                </dl>
            </div>
        </div>
         <div class="footer_nav_box">
            <div class="footer_nav">
            <a href="#" target="_blank" rel="nofollow">公司简介</a>
            <span class="sep">|</span>
            <a href="#" target="_blank">诚聘英才</a>
            <span class="sep">|</span>
            <a href="#" target="_blank">手机当当</a>
            <span class="sep">|</span>
            <a href="#" target="_blank">网站联盟</a>
            <span class="sep">|</span>
            <a href="#" target="_blank">官方Blog</a>
        </div>
             <div class="footer_copyright">
            <span>Copyright (C) 当当网 2004-2017, All Rights Reserved</span>
        </div>

            <!-- 有三个icon的时候加footer_icon2 -->
{#            <div class="footer_icon footer_icon2" style="padding-left: 55px;">#}
{#            <div class="validator"><a href="#" target="_blank" class="footer_img"><img src="../../static/images/validate.gif"></a></div>#}
{#            <div class="validator"><a href="#" target="_blank" class="footer_img"><img src="../../static/images/validate.gif"></a></div>#}
{#            <div class="validator"><a id="_pingansec_bottomimagesmall_brand" href="#"  target="_blank"><img src="../../static/images/validate.gif"></a></div>#}
{#        </div>#}
        <div class="clear"></div>
    </div>
    </div>






</body>